// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.map {

}

.map__row {
	display:flex;
}

.map__col {
	width: 25px;
	heigth: 25px;
}